<style>
    li, .post-header, .summary, p, .post-content, #search-input {
        font-family: 'Nunito Sans', sans-serif;
    }
    .ais-Highlight{
        background-color: yellow !important;
        font-style: normal !important;
    }
</style>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if page.url contains '/docs/' %}
            <a class="navbar-brand" href="../">&nbsp;<span class="projectTitle"> <img src="../images/squadcast_logo_white.png" style="width: 80%; margin-top: -2%;"> </span></a>
            {% else %}
            <a class="navbar-brand" href="/">&nbsp;<span class="projectTitle"> <img src="../images/squadcast_logo_white.png" style="width: 80%; margin-top: -2%;"></span></a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- toggle sidebar button -->
                <!--li><a id="tg-sb-link" href="#"><i id="tg-sb-icon" class="fa fa-toggle-on"></i> Nav</a></li-->
                <!-- entries without drop-downs appear here -->

{% assign topnav = site.data[page.topnav] %}
{% assign topnav_dropdowns = site.data[page.topnav].topnav_dropdowns %}

                {% for entry in topnav.topnav %}
                {% for item in entry.items %}
                {% if item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank" rel="noopener">{{item.title}}</a></li>
                {% elsif page.url contains item.url %}
                <li class="active"><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% else %}
                <li><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
                {% for entry in topnav_dropdowns %}
                {% for folder in entry.folders %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.title }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for folderitem in folder.folderitems %}
                        {% if folderitem.external_url %}
                        <li><a href="{{folderitem.external_url}}" target="_blank" rel="noopener">{{folderitem.title}}</a></li>
                        {% elsif page.url contains folderitem.url %}
                        <li class="dropdownActive"><a href="{{folderitem.url |  remove: "/"}}">{{folderitem.title}}</a></li>
                        {% else %}
                        <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}
                <li><a href="#" id="sd" rel="noreferrer noopener">Schedule a Demo</a></li>

                <div id="sd_anirudh" style="display:none;"></div>
                <div id="sd_nikil" style="display:none;"></div>

                <script>document.getElementById("sd_nikil").onclick=function(){var e=document.createElement("link");e.href="https://assets.calendly.com/assets/external/widget.css",e.rel="stylesheet",document.head.appendChild(e);var t=document.createElement("script");t.src="https://assets.calendly.com/assets/external/widget.js",t.type="text/javascript",document.body.appendChild(t),t.addEventListener("load",function(){Calendly.showPopupWidget("https://calendly.com/nikil-30")})};</script>
                <script>document.getElementById("sd_anirudh").onclick=function(){var e=document.createElement("link");e.href="https://assets.calendly.com/assets/external/widget.css",e.rel="stylesheet",document.head.appendChild(e);var t=document.createElement("script");t.src="https://assets.calendly.com/assets/external/widget.js",t.type="text/javascript",document.body.appendChild(t),t.addEventListener("load",function(){Calendly.showPopupWidget("https://calendly.com/anirudh-13")})};</script>

                <script>
                var btn = document.getElementById("sd");
                var timezone = new Date().getTimezoneOffset() / -60;

                btn.onclick = function(){
                    if(timezone >= -1){
                        document.getElementById("sd_anirudh").click();
                    }
                    if(timezone < -1){
                        document.getElementById("sd_nikil").click();
                    }
                }
                </script>
                {% if site.feedback_disable == null or site.feedback_disable == false %}
			{% include feedback.html %}
		{% endif %}
                <!--comment out this block if you want to hide search-->
                <li>
                    <!--start search-->
                    <div id="search-demo-container">
                        <input type="text" id="search-input" style="outline: none;" placeholder="{{site.data.strings.search_placeholder_text}}">
                        <button id="search-button1" style="height: 30px; background-color: #3670fe; color: white; outline: none; border-color: #3670fe;">Search</button>
                        <ul id="results-container" style="max-height: 500px; overflow: scroll;"></ul>
                    </div>
                    <script>                    
                    const field1 = document.getElementById('search-input');
                    const rest1 = document.getElementById('results-container');
                    const find1 = document.getElementById('search-button1');
                    rest1.style.display = 'none';
                    find1.onclick = function(){
                        var val = field1.value;
                        index.search(val).then(({ hits }) => {
                        if(hits.length > 0 && val != ''){
                            rest1.style.display = 'block';
                            rest1.innerHTML = '';
                            for(i = 0; i < hits.length; i++){
                                if(hits[i].search != 'exclude'){
                                    rest1.innerHTML = rest1.innerHTML+'<a href="'+hits[i].url+'" style="text-decoration: none;">'+hits[i]._highlightResult.title.value+'<br/>'+hits[i]._highlightResult.content.value+'<br/><div style="border-bottom: 2px solid #e7e9ed"></div></a><br/>';
                                }
                            }
                            rest1.innerHTML = rest1.innerHTML+'<div style="display: flex; justify-content: flex-end; padding-right:10px; padding-bottom: 10px;"><img src="../images/algolia-blue-mark.svg" style="width: 15px;"></div>';
                        }else{
                            rest1.style.display = 'block';
                            rest1.innerHTML = 'No Results to display'+'<div style="display: flex; justify-content: flex-end; padding-right:10px; padding-bottom: 10px;"><img src="../images/algolia-blue-mark.svg" style="width: 15px;"></div>';
                        }
                        });
                        dataLayer.push({
                            'event': 'searchEvent',
                            'gtm.elementId': 'wf-form-search',
                            'searchValue': val
                        });
                    }
                    field1.onkeyup = function(event1){
                        if(field1.value == ''){
                        rest1.innerHTML = '';
                        rest1.style.display = 'none';
                        }
                        if(event1.keyCode == 13){
                            find1.click();
                        }
                    }
                    </script>
                    <!--end search-->
                </li>
            </ul>
        </div>
        </div>
        <!-- /.container -->
</nav>
